* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #808090;
}

#tabuleiro {
    display: block;
    margin: auto;
}

h1 {
    color: #0000FF;
    text-align: center;
    text-decoration: underline;
}

@media(max-width: 600px) {
    h2 {
        padding-top: 3rem;
    }
}